@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #191919;
}

/* navbar */                /* navbar */                  /* navbar */
.navbar{
  display: flex;
  justify-content: center;
  background-color: #101010;
  height: 5.7rem;
}
nav{
  border-bottom: 1px solid rgb(209, 208, 208);
  width: 1120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
}
ul{
  display: flex;
}
.nav_ul{
  margin-left: -31px;
}
ul li{
  list-style: none;
  padding: 0px 20px;
}
ul li a{
  font-size: 0.813rem;
  font-weight: 700;
  letter-spacing: 2px;
}
ul li a:hover{
  color: orange;
}
.link-tag{
  text-decoration: none;
}
.logo{
  font-size: 1.7rem;
  font-weight: 900;
  margin-left: 20px;
}
ul li a, .logo{
  color: white;
}
.first_link{
  padding-left: 0px;
}
.logo_hamburger_outer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger_icon{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 4px;
  display: none;
}
.hamburger_lines{
  width: 20px;
  height: 2.6px;
  background-color: white;
  margin: 2px 0px;

}

/* navbar */                  /* navbar */               /* navbar */

/* media queries */         /* media queries */          /* media queries */

@media only screen and (max-width: 1160px) {
  nav{
    width: 90%;
    border: none;
  }
  .navbar{
    border-bottom: 1px solid rgb(209, 208, 208);
  }

}
@media only screen and (max-width: 860px) {
  .hamburger_icon{
    display: flex
  }
  .nav_ul{
    display: none;
  }
}

/* media queries */         /* media queries */          /* media queries */