@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}
.heading_header{
    background-color: #101010;
    color: rgb(250, 250, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
}